
/*Header Content */
header {
	background-color: #F7B700;
	padding: 5px 0;
	display: flex;
	align-items: center;
	max-width: 900px;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
}

.m {
	letter-spacing: 1pt;
	color: #141414;
	font-weight: 700;
	font-size: 0.8rem;
}

.social {
	margin-right: 1.5rem;
}

.social svg {
	width: 25px;
	height: auto;
}

/* Small/Phone View ***************/
nav {
	margin: 0 auto;
	max-width: 760px;
	
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: right;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "";
}

.navigation a:hover {
	color: #F7B700;
	background-color: #000376;
}

span.date {
	display: block;
	text-align: center;
	background-color: #F7B700;
	margin:5px;

}

.banner{
	display: block;
	text-align: center;
	background-color: #F7B700;
}
/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: " ";
}

/* Main Body Content */
body {
	padding: 0;
	margin: 0;
    background-color: #000376;
}

main {
	background-color: #F7B700;
	/* padding: 2em;
    margin: 2em; */
	

}


main div{
    padding: 0;
    margin: 0;
}

.hero {
    padding: 0;
	margin:0;
    position: relative;
}

main img {
	width:150px;
	height:150px;
}
main img#Lexington {
	width:auto;
	height:auto;
	margin-top: 20px;
}
/*footer*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7B700;
}

footer img {
    width: 2em;  
    align-self: center;
}

/*Discover Page Specific Css*/
div.picturesContainer picture img{
	display:block;
	width: 300px;
	height: auto;
	
}
div.picturesContainer picture img:hover {box-shadow: 0 0 50px #F7B700;}
div.picturesContainer p{
	background-color: #F7B700;
}

/* Directory page specificss*/
.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #000376;
	text-align: center;
}

.menu button {
	padding: 1rem;
	background-color: #F7B700;
}

article,
section {
	margin: 0.75rem;
}

section {
	padding: 0.5rem;
	background-color: #F7B700;
    display: inline-block;
    /* vertical-align: top; */
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex;
	align-items: center;
}

.grid section {
	/* flex-direction: column; */
	text-align: center;
}

.grid section > * {
	margin: 0.1rem;
}

.list section {
	flex-direction: row;
	justify-content: left;
}

.list section > * {
	margin: 0 1rem;
	text-align: left;
}

.list section img {
	display: none; /* smaller viewports only */
}

h2 {
    color: black;

}

p {
    color: black;

}

section h3 {
	font-size: 1.5rem;
    color: black;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.9rem;
    color: black;
}

img {
	height: 75px;
	max-width: 100%; /* Images are jerks - Seattle*/
}

@media (min-width: 700px) {
	.list section img {
		display: block;
	}
}


