body{align-content: center;}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    background-color: aqua;
    padding: 10px;
}

.gridItem {
    background-color: aqua;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


footer {
    background-color: aqua;
}